<div data-role="page" id="dashboard" class="page">

    <style>
        tr, td{
            text-align:center;
        }
    </style>

    <div role="main" class="ui-content">

        <h3>Timetable Information</h3>
        <p>Select a room number</p>
        <select id="selectRoomNumber">
            <option value=""></option>
            <option value="A010">A010</option>
        </select>
        <p>Select which day</p>
        <select id="selectDay">
            <option value=""></option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <button class="ui-btn" id="searchRoom" onclick="searchRoom()">Search</button>

        <table id="showTable" style="display:none; width:80%; margin:auto">
            <tr>
                <th>Room Number</th>
                <th>Day</th>
                <th>Time</th>
                <th>Is Free? </th>
            </tr>
            <tr id="0900">
                <td class="rn"></td>
                <td class="d"></td>
                <td>09:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1000">
                <td class="rn"></td>
                <td class="d"></td>
                <td>10:00</td>
                <td class="isFree"></td>
            </tr>
            <tr id="1100">
                <td class="rn"></td>
                <td class="d"></td>
                <td>11:00</td>
                <td class="isFree"></td>
            </tr>
            <tr id="1200">
                <td class="rn"></td>
                <td class="d"></td>
                <td>12:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1300">
                <td class="rn"></td>
                <td class="d"></td>
                <td>13:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1400">
                <td class="rn"></td>
                <td class="d"></td>
                <td>14:00</td>
                <td class="isFree"></td>
            </tr>


            <tr id="1500">
                <td class="rn"></td>
                <td class="d"></td>
                <td>10:00</td>
                <td class="isFree"></td>
            </tr>


            <tr id="1600">
                <td class="rn"></td>
                <td class="d"></td>
                <td>16:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1700">
                <td class="rn"></td>
                <td class="d"></td>
                <td>17:00</td>
                <td class="isFree"></td>
            </tr>
        </table>
    </div><!-- /content -->

</div><!-- /page one -->

<script>
    function searchRoom(){
        var roomNumber = $('#selectRoomNumber').children("option:selected").val();
        var day = $('#selectDay').children("option:selected").val();

        $('.rn').text(roomNumber);
        $('.d').text(day);

        if(roomNumber === "" || day === ""){
            alert("Select both room number and day");
        }else{
            $.get( "/getTimetable", { room:roomNumber, day:day})
                .done(function(data){
                    $("#0900").children(".isFree").html(data[0].isFree);
                    $("#1000").children(".isFree").html(data[1].isFree);
                    $("#1100").children(".isFree").html(data[2].isFree);
                    $("#1200").children(".isFree").html(data[3].isFree);
                    $("#1300").children(".isFree").html(data[4].isFree);
                    $("#1400").children(".isFree").html(data[5].isFree);
                    $("#1500").children(".isFree").html(data[6].isFree);
                    $("#1600").children(".isFree").html(data[7].isFree);
                    $("#1700").children(".isFree").html(data[8].isFree);
            });
        }
        $("#showTable").css({'display' : 'table'});
    }
</script>
