<div data-role="page" id="dashboard" class="page">

    <div role="main" class="ui-content">

        <h3>Timetable Information</h3>
        <label for="selectRoomNumber">Select Room</label><select id="selectRoomNumber">
            <option value=""></option>
            <option value="A010">A010</option>
        </select>
        <br><br>
        <label for="selectDay">Select day</label><select id="selectDay">
            <option value=""></option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <br><br>
        <button class="ui-btn" id="searchRoom" onclick="searchRoom()">Search</button>

        <table id="showTable" style="display:none; width:80%; margin:auto">
            <tr>
                <th>Room Number</th>
                <th>Day</th>
                <th>Time</th>
                <th>Is Free? </th>
            </tr>
            <tr id="0900">
                <td class="rn"></td>
                <td class="d"></td>
                <td>09:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1000">
                <td class="rn"></td>
                <td class="d"></td>
                <td>10:00</td>
                <td class="isFree"></td>
            </tr>
            <tr id="1100">
                <td class="rn"></td>
                <td class="d"></td>
                <td>11:00</td>
                <td class="isFree"></td>
            </tr>
            <tr id="1200">
                <td class="rn"></td>
                <td class="d"></td>
                <td>12:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1300">
                <td class="rn"></td>
                <td class="d"></td>
                <td>13:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1400">
                <td class="rn"></td>
                <td class="d"></td>
                <td>14:00</td>
                <td class="isFree"></td>
            </tr>


            <tr id="1500">
                <td class="rn"></td>
                <td class="d"></td>
                <td>10:00</td>
                <td class="isFree"></td>
            </tr>


            <tr id="1600">
                <td class="rn"></td>
                <td class="d"></td>
                <td>16:00</td>
                <td class="isFree"></td>
            </tr>

            <tr id="1700">
                <td class="rn"></td>
                <td class="d"></td>
                <td>17:00</td>
                <td class="isFree"></td>
            </tr>
        </table>
    </div><!-- /content -->

</div><!-- /page one -->

<script>
    function searchRoom(){
        var roomNumber = $('#selectRoomNumber').children("option:selected").val();
        var day = $('#selectDay').children("option:selected").val();
        if(roomNumber === "" || day === ""){
            alert("Select both room number and day");
        }else{
            $('.rn').text(roomNumber);
            $('.d').text(day);

            $.get( "/getTimetable", { room:roomNumber, day:day})
                .done(function(data){
                    if(data[0].isFree === 0){
                        $("#0900").children(".isFree").html("No");
                        $("#0900").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#0900").children(".isFree").html("Yes");
                        $("#0900").children(".isFree").css({'color':'green'});
                    }

                    if(data[1].isFree === 0){
                        $("#1000").children(".isFree").html("No");
                        $("#1000").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1000").children(".isFree").html("Yes");
                        $("#1000").children(".isFree").css({'color':'green'});
                    }

                    if(data[2].isFree === 0){
                        $("#1100").children(".isFree").html("No");
                        $("#1100").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1100").children(".isFree").html("Yes");
                        $("#1100").children(".isFree").css({'color':'green'});
                    }

                    if(data[3].isFree === 0){
                        $("#1200").children(".isFree").html("No");
                        $("#1200").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1200").children(".isFree").html("Yes");
                        $("#1200").children(".isFree").css({'color':'green'});
                    }

                    if(data[4].isFree === 0){
                        $("#1300").children(".isFree").html("No");
                        $("#1300").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1300").children(".isFree").html("Yes");
                        $("#1300").children(".isFree").css({'color':'green'});
                    }

                    if(data[5].isFree === 0){
                        $("#1400").children(".isFree").html("No");
                        $("#1400").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1400").children(".isFree").html("Yes");
                        $("#1400").children(".isFree").css({'color':'green'});
                    }

                    if(data[6].isFree === 0){
                        $("#1500").children(".isFree").html("No");
                        $("#1500").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1500").children(".isFree").html("Yes");
                        $("#1500").children(".isFree").css({'color':'green'});
                    }

                    if(data[7].isFree === 0){
                        $("#1600").children(".isFree").html("No");
                        $("#1600").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1600").children(".isFree").html("Yes");
                        $("#1600").children(".isFree").css({'color':'green'});
                    }

                    if(data[7].isFree === 0){
                        $("#1700").children(".isFree").html("No");
                        $("#1700").children(".isFree").css({'color':'red'});
                    }
                    else{
                        $("#1700").children(".isFree").html("Yes");
                        $("#1700").children(".isFree").css({'color':'green'});
                    }

            });
            $("#showTable").css({'display' : 'table'});
        }

    }
</script>
